body {
background-color: #ffffff;
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}

.titulo {
font-weight: bold;
font-size: 28px;
margin-bottom: 25px;
}

.card-box {
background: #E4E4E4; /* fundo igual da imagem */
padding: 35px;
border-radius: 6px;
text-align: center;
height: 230px; /* tamanho igual ao da foto */
display: flex;
flex-direction: column;
justify-content: center;
transition: 0.3s;
}

.card-box img {
width: 70px;
height: 70px;
margin-bottom: 15px;
}

.card-box p {
font-weight: bold;
font-size: 20px;
margin: 0;
}

.card-box:hover {
transform: scale(1.04);
}
