/* BODY: remove margens e define a fonte do site */
body {
 
    margin: 0;/* remove margens padrões do navegador */
    padding: 0;/* remove preenchimento padrão */
    font-family: Arial, sans-serif;/* define a fonte */
 
}
 
/* HEADER: ocupa 100% da largura */
.header {
 
    width: 100%;/* garante que o header ocupe toda a largura */
 
}
 
/* PARTE SUPERIOR DO HEADER (barrinha com imagem) */
.header-top {
    width: 100%; /* imagem ocupa toda a largura */
    height: 36px; /* altura fixa */
    background: url("./img_home/header.png") no-repeat center; /* define a imagem e centraliza */
    background-size: cover; /* ajusta a imagem para cobrir toda a área */
}
 
 
 
/* PARTE PRINCIPAL DO HEADER (logo alinhada) */
.header-main {
    height: 70px; /* altura da área do header */
    display: flex; /* organiza o conteúdo lado a lado */
    align-items: center; /* centraliza verticalmente */
    justify-content: space-between; /* espaço entre os elementos */
    padding: 0 22px; /* espaçamento lateral */
}
 
 
 
/* CONTAINER PARA LOGO E TEXTOS DO HEADER */
.brand {
    display: flex; /* organiza lado a lado */
    align-items: center; /* centraliza verticalmente */
    gap: 8px; /* espaço entre elementos */
}
 
 
 
/* LOGO DO HEADER */
.logo {
    width: 100px; /* largura da logo */
    height: 65px; /* altura da logo */
}
 


.jornal {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin: 40px 0 15px;
    font-size: 20px;
}

.linha {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    
}

.item {
    width: 100%;
}

.thumb {
    width: 100%;
    height: 250px;
    background: #d9d9d9;
    margin-bottom: 8px;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* corta e encaixa perfeitamente */
    object-position: center; /* mantém o foco */
}

.divisor {
    height: 1.5px;
    background: black;
    width: 100%;
    margin: 25px 0;
}


/* Mobile */
@media (max-width: 700px) {
    .linha {
        flex-direction: column;
    }
}
