body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }


        .header {
            width: 100%;
        }


        .header-top {
            width: 100%;
            height: 36px;
            background: url("./img_home/header.png") no-repeat center;
            background-size: cover;
        }


        .header-main {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 22px;
            background: #ffffff;
        }


        .logo {
            width: 100px;
            height: 65px;
        }


      


.conteudo {
    max-width: 2000px;
    margin: 5px;
    padding: 0px 60px 60px 60px;
}




h1 {
    font-size: 32px;
    margin-bottom: 0px;
}


p {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
}




.grid-alunas {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colunas */
    gap: 30px 20px;
    justify-items: center;
    margin-top: 40px;
}

.aluna-card {
    width: 200px;   /* card maior */
    background: #fff;
    border-radius: 0px;
    padding: 12px;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.08);
    text-align: left;
    font-family: Arial, sans-serif;
}

.aluna-img {
    width: 100%;
    height: 200px;  /* imagem maior */
    background: #e6e6e6;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}




