<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de conteúdos</title>
    <link rel="stylesheet" href="../static/conteudoExemplo.css">
</head>
<body>
    <body>
    <header class="header">
        <div class="header-top"></div><!-- Faixa superior  -->

        <div class="header-main">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo"><!-- Imagem da logo -->

        </div>
    </header>

    <div class="main-container"> 
        
     
        <main class="content">

            <h1 class="page-title">Python - O que aprendemos até o momento?</h1>

            <div class="top-section">
          
                <div class="image-placeholder">
                    </div>

                <div class="text-content">
                    <p>
                       Python é uma linguagem conhecida por sua simplicidade e legibilidade, o que a torna uma das mais populares do mundo. É ideal para quem está começando a programar e permite desenvolver códigos complexos de maneira prática. 
                        Consolidamos nosso aprendizado por meio de diversos exercícios envolvendo estrutura sequencial, decisões condicionais, listas, funções, strings e outros conceitos fundamentais da programação.  
                    </p>                    
                </div>
             
            </div>

            <h2 class="section-title">Atividades feitas em sala:</h2>

            <div class="activities-section">
                <div class="card-placeholder"></div>
                <div class="card-placeholder"></div>
                <div class="card-placeholder"></div>
            </div><br><br><br>
            
           
        </main>
    </div>
</body>
</html>