<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Conteúdos</title>
<link rel="stylesheet" href="style.css">

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container mt-4">

<h1 class="titulo">Conteúdos</h1>

<div class="row g-4">

<!-- PYTHON -->
<div class="col-12 col-md-4">
<div class="card-box">
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg">
<p>PYTHON</p>
</div>
</div>

<!-- CSS -->
<div class="col-12 col-md-4">
<div class="card-box">
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg">
<p>CSS</p>
</div>
</div>

<!-- HTML -->
<div class="col-12 col-md-4">
<div class="card-box">
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg">
<p>HTML</p>
</div>
</div>

<!-- JAVA -->
<div class="col-12 col-md-4">
<div class="card-box">
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg">
<p>Java</p>
</div>
</div>

<!-- JAVASCRIPT -->
<div class="col-12 col-md-4">
<div class="card-box">
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg">
<p>JavaScript</p>
</div>
</div>

<!-- DATABASE -->
<div class="col-12 col-md-4">
<div class="card-box">
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg">
<p>DATABASE</p>
</div>
</div>

</div>
</div>

</body>
</html>
