<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de conteúdos</title>
    <link rel="stylesheet" href="../static/conteudoExemplo.css">
</head>
<body>
    <body>
    <header class="header">
        <div class="header-top"></div><!-- Faixa superior  -->

        <div class="header-main">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo"><!-- Imagem da logo -->

        </div>
    </header>

    <div class="main-container"> 
        
     
        <main class="content">

            <h1 class="page-title">Python - O que aprendemos até o momento?</h1>

            <div class="top-section">
          
                <div class="image-placeholder">
                    </div>

                <div class="text-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien vitae pellentesque sem placerat. In id cursus mi pretium mi convallis. Tempus leo eu aenean sed diam urna tempor, pulvinar lacus nec metus bibendum egestas. iaculis massa nisl malesuada et nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu ad litora torquent per conubia nostra inceptos himenaeos.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien vitae pellentesque sem placerat. In id cursus mi pretium mi convallis. Tempus leo eu aenean sed diam urna tempor, Pulvinar lacus nec metus bibendum egestas. iaculis massa nisl malesuada et nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu ad litora torquent per conubia nostra inceptos himenaeos.</p>
                </div>
             
            </div>

            <h2 class="section-title">Atividades feitas em sala:</h2>

            <div class="activities-section">
                <div class="card-placeholder"></div>
                <div class="card-placeholder"></div>
                <div class="card-placeholder"></div>
            </div>
            
           
        </main>
    </div>
</body>
</html>