<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdos</title>
    <link rel="stylesheet" href="../static/style_conteudos.css">
</head>

<body>

<header class="header">
    <div class="header-top"></div>

    <div class="header-main">
        <div class="brand">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo">
        </div>
    </div>
</header>

 <br>
<div class="pagina">
    <h1>Conteúdos Aprendidos</h1>
    <br>
    <h3>Hard Skills</h3>
     <br>

    <div class="layout">
        <div class="card">
            <img src="../static/img_home/" alt="Logo Python">
            <p>PYTHON</p>
        </div>

        <div class="card">
            <img src="img/imagem (2).png" alt="Logo CSS">
            <p>CSS</p>
        </div>

        <div class="card">
            <img src="img/HTML vs HTML5_ Aprenda as Diferenças Cruciais Entre Eles.png" alt="Logo HTML">
            <p>HTML</p>
        </div>

        <div class="card">
            <img src="img/Servidor sql - ícones de computador grátis.png" alt="Logo SQL Database">
            <p>DATABASE</p>
        </div>

        <div class="card">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Logo Java">
            <p>Java</p>
        </div>

        <div class="card">
            <img src="img/imagem (3).png" alt="Logo JavaScript">
            <p>JavaScript</p>
        </div>
    </div>

     <br>
    <div class="h3"> 
    <h3>Soft Skills</h3>
    </div>
     <br>

    <div class="layout">
        <div class="card">
            <img src="img/imagem.png" alt="Logo Python">
            <p>PYTHON</p>
        </div>
        <div class="card2">
            <img src="img/imagem (2).png" alt="Logo CSS">
            <p>CSS</p>
        </div>
        <div class="card2">
            <img src="img/HTML vs HTML5_ Aprenda as Diferenças Cruciais Entre Eles.png" alt="Logo HTML">
            <p>HTML</p>
        </div>
        <div class="card">
            <img src="img/Servidor sql - ícones de computador grátis.png" alt="Logo SQL Database">
            <p>DATABASE</p>
        </div>
        <div class="card">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Logo Java">
            <p>Java</p>
        </div>
         <div class="card">
            <img src="img/imagem (3).png" alt="Logo JavaScript">
            <p>JavaScript</p>
        </div>

    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>


</body>
</html>
