<!DOCTYPE html>

<html lang="pt-BR">

 

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style_curiosidade.css">

    <title>Curiosidade</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

   

</head>

 

<body>

 

    <header class="header">
        <div class="header-top"></div>

        <div class="header-main">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo">
        </div>
    </header>
 

    <img src="../static/img_home/dta.jpg" class="img-fluid w-100" style="height: 400px; object-fit: cover;" alt="imagem DTA">

    <h2 class="sobre-titulo">Nome da Apresentação</h2>

    <div class="texto-dta2">

    <p>

        16 de maio de 2025

    </p>

    </div>

    </div>

 

<div class="dta-container reverse">

    <div class="grid-card">
        <div class="categoria-card">
            <div class="categoria-img">
                <img src="../static/img_home/dta.jpg" alt="">
            </div>
            <p class="nome">Apresentado por:</p>
            <p class="nome">Fulana</p>
        </div>
    </div>

    <div class="texto-dta">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsu Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat amet rerum molestiae. 
            Eius error, autem vitae cum sit sint 
            quas architecto fugiat assumenda est suscipit numquam quisquam repellendus sapiente! Totam?
            Lorem ipsum dolor  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat amet rerum molestiae. 
            Eius error, autem vitae cum sit sint 
            quas architecto fugiat assumenda est suscipit numquam quisquam repellendus sapiente! Totam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing m, dolor sit amet consectetur adipisicing elit. Repellat amet rerum molestiae. Eius error, autem vitae cum sit sint 
            quas architecto fugiat assumenda est suscipit numquam quisquam repellendus sapiente! Totam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, adipisicing elit. Repellat amet rerum molestiae. Eius error, autem vitae cum sit sint 
            
        </p>
    </div>

</div>

<div class="dta-container reverse">

    <div class="texto-dta2">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat amet rerum molestiae. 
            Eius error, autem vitae cum sit sint 
            quas architecto fugiat assumenda est suscipit numquam quisquam repellendus sapiente! Totam?
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat amet rerum molestiae. 
            Eius error, autem vitae cum sit sint 
            quas architecto fugiat assumenda est suscipit numquam quisquam repellendus sapiente! Totam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing  consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiore Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat amet rerum molestiae. 
            Eius error, autem vitae cum sit sint 
            quas architecto fugiat assumenda est suscipit numquam quisquam repellendus sapiente! Totam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor
            asperiores quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing s quod minima culpa velit facilis sint maxime labore illum.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat amet rerum molestiae. Eius error, autem vitae cum sit sint 
           
        </p>
    </div>

     <div class="grid-card">
   <div class="categoria-card2">
    <div class="categoria-img">
        <img src="../static/img_home/dta.jpg" alt="">
    </div>
</div>

</div>
    






</body>

</html>
