<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículo</title>
    <link rel="stylesheet" href="../static/style_curriculo_Giovanna.css">
</head>
<body>
    <header class="header">
    <div class="header-top"></div>
 
    <div class="header-main">   <!-- logo -->
        <div class="brand">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo"><!-- Imagem da logo -->
        </div>
    </div>
</header>
 
    <div class="container">
        <div class="profile-section">
            <div class="profile-image"></div>
            
            <div class="profile-info">
                <h1>Hello world!</h1>
                <h2>I'm Isadora Goedert</h2>
                <p>Tenho 20 anos, curso Design Gráfico na Univille e concluí o ensino médio integrado ao técnico em Informática para a Internet no Instituto Federal Catarinense. Possuo inglês quase fluente e uma formação que combina criatividade, tecnologia e comunicação visual.</p>
            </div>

            <div class="social-links">
                <a href="#" class="social-link">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/github.png" alt="github"/>
                    <span>@username</span>
                </a>
                <a href="#" class="social-link">
                   <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/canva-app.png" alt="canva-app"/>
                    <span>@username</span>
                </a>
                <a href="#" class="social-link">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/60/linkedin-circled--v1.png" alt="linkedin-circled--v1"/>
                    <span>@username</span>
                </a>
            </div>
        </div>

        <hr class="linha-separadora">
        <br>

        <div class="content-grid">
            <div class="section">
                <div class="section-title">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/copybook.png" alt="copybook"/>
                    <span>Aprendizado</span>
                </div>
                <div class="section-content">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus ieo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                </div>
            </div>

            <div class="section">
                <div class="section-title">
                    <img width="30" height="30" src="https://img.icons8.com/forma-bold-filled/24/mental-state.png" alt="mental-state"/>
                    <span>Curiosidade sobre mim</span>
                </div>
                <div class="section-content">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus ieo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                </div>
            </div>

            <div class="section">
                <div class="section-title">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/approval.png" alt="approval"/>
                    <span>Competências</span>
                </div>
                <div class="section-content">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus ieo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                </div>
            </div>

            <div class="section">
                <div class="section-title">
                    <img width="32" height="32" src="https://img.icons8.com/external-yogi-aprelliyanto-glyph-yogi-aprelliyanto/32/external-target-design-thinking-yogi-aprelliyanto-glyph-yogi-aprelliyanto.png" alt="external-target-design-thinking-yogi-aprelliyanto-glyph-yogi-aprelliyanto"/>
                    <span>Sonhos e metas</span>
                </div>
                <div class="section-content">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus ieo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                </div>
            </div>
        </div>
    </div>
</body>
</html>