<!DOCTYPE html>
<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTA</title>
    <link rel="stylesheet" href="../static/style_dta.css">
</head>


<body>
    <header class="header">
        <div class="header-top"></div>


        <div class="header-main">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo">


            <div class="user-icon">
                <img src="../static/img_home/icone.png" alt="User icon">
            </div>
        </div>
    </header>



    <main class="conteudo">


        <h1>Alunas</h1>


        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Culpa facere molestias vero placeat fuga voluptatum doloribus
            ratione dignissimos expedita...
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, possimus. Provident,
            ducimus ipsum error saepe assumenda, magni tempora nulla ut soluta commodi, omnis facilis
            quam? Error expedita accusamus eum exercitationem?
        </p>


        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Culpa facere molestias vero placeat fuga voluptatum doloribus
            ratione dignissimos expedita... Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Qui, laudantium labore et repudiandae possimus, sapiente quod quo cupiditate,
            accusantium sunt ad rerum expedita aliquam. Ipsam consequatur est veritatis natus eligendi!
        </p>





        <div class="grid-alunas">


            <div class="aluna-card">
                <div class="aluna-img"></div>
                <p class="aluna-nome">Alana</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img"></div>
                <p class="aluna-nome">Amábile</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">


                </div>
                <p class="aluna-nome">Ana Júlya</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">


                </div>
                <p class="aluna-nome">Ana Lívia</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">


                </div>
                <p class="aluna-nome">Beatriz</p>
            </div>


            <div class="aluna-card">
                <div class="aluna-img"></div>
                <p class="aluna-nome">Daniely</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">


                </div>
                <p class="aluna-nome">Elisa</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">


                </div>
                <p class="aluna-nome">Emilyn</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img"></div>
                <p class="aluna-nome">Gabriela</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">
                </div>
                <p class="aluna-nome">Giovanna</p>
            </div>


            <div class="aluna-card">
                <div class="aluna-img">
                </div>
                <p class="aluna-nome">Isabela</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">
                </div>
                <p class="aluna-nome">Julia</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">
                </div>
                <p class="aluna-nome">Letícia</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">


                </div>
                <p class="aluna-nome">Maria Aparecida</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">
                </div>
                <p class="aluna-nome">Maria Eduarda</p>
            </div>


            <div class="aluna-card">
                <div class="aluna-img">
                </div>
                <p class="aluna-nome">Maria Isabella</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">
                </div>
                <p class="aluna-nome">Maria Fernanda</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">
                </div>
                <p class="aluna-nome">Maria Luiza</p>
            </div>
            <div class="aluna-card">
                <div class="aluna-img">
                </div>
                <p class="aluna-nome">Thuany</p>
            </div>


        </div>




    </main>


</body>


</html>