<!DOCTYPE html>
<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_home.css">
    <title>DTA</title>


   
</head>


<body>

<header class="header">
    <div class="header-top"></div>
 
    <div class="header-main">   <!-- logo -->
        <div class="brand">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo"><!-- Imagem da logo -->
        </div>
    </div>
</header>

   
    <h1 class="titulo-dta">Digital Talent Academy - Joinville 2025</h1>


    <div class="dta-container">
        <img class="dta-img" src="../static/img_home/dta.jpg" alt="DTA"> <!-- Imagem -->


        <div class="texto-dta"> <!-- texto -->
            <h2>Sobre o DTA</h2>
            <p>
               O programa Digital Talent Academy é uma das grandes iniciativas da Bosch para 
               capacitar jovens em habilidades digitais e preparar as futuras gerações para os 
               desafios do mercado de trabalho. Em março deste ano, o DTA de Joinville deu um passo 
               importante para promover mais diversidade e equidade dentro da tecnologia com uma nova 
               turma 100% feminina, a primeira na América Latina!
            </p>

            <p>
                A equipe é formada por 20 meninas, simbolizando diversidade, força e inovação dentro da organização. Na caminhada rumo às metas de 2030, o protagonismo das pessoas é essencial, e o grupo se destaca por contribuir ativamente para uma transformação mais diversa e tecnológica. 
            </p>
        </div>
    </div>

    <div class="texto-dta2"> <!-- texto -->
    <h2 class="sobre-titulo">Sobre o site</h2> <!-- tutulo -->

    <p>
        Criamos este site para apresentar nossa equipe, nossos projetos e nossa trajetória dentro da Bosch e do SENAI. Como projeto final do ano 2025, ele reúne aprendizados, experiências e o trabalho colaborativo de diversas equipes — de organização, conteúdo, prototipação, front-end e back-end — refletindo tudo o que desenvolvemos ao longo da formação. 
        Mais do que um portfólio, este espaço funciona como uma verdadeira “máquina do tempo”: registra nossa evolução, celebra nossas conquistas e oferece uma visão geral do programa para turmas futuras e para todos que desejarem conhecer o DTA com mais profundidade.
    </p>

    <p>
        Aqui, mostramos quem somos, o que fazemos e a importância do nosso papel dentro do programa — algo que muitas vezes permanece “atrás das cortinas”. O site evidencia nossas competências técnicas, nossa dedicação contínua e o protagonismo feminino que nos impulsiona na área de tecnologia. 
Reunindo tudo o que aprendemos durante o ano, construímos este projeto juntas para demonstrar nosso comprometimento, nossa união e nosso orgulho em fazer parte da Bosch.
    </p>

    <h3>
        > Saiba mais sobre <!-- titulo -->
    </h3>

    </div>

   
    <h2 class="categorias-titulo">Categorias</h2> <!-- titulo -->


    <div class="grid-home">


    <div class="categoria-card">
        <div class="categoria-img"></div><!-- Imagem do card -->
        <p class="nome">Conteúdos</p> <!-- Nome da categoria -->
    </div>
     <div class="categoria-card">
        <div class="categoria-img"></div>
        <p class="nome">Jornal</p>
    </div>
      <div class="categoria-card">
        <div class="categoria-img"></div>
        <p class="nome">Perfis</p>
    </div>
     
    </div>


    <div class="dta-container"><!-- SEGUNDA SEÇÃO COM IMAGEM + TEXTO -->


        <div class="texto-dta"><!-- TEXTO -->
            <h2>Women in action</h2>
            <p>
                O projeto “Women in Action” é focado no desenvolvimento de soft skills, como comunicação, organização, autoconfiança e gestão de projetos. 
É nesse espaço que aprendemos a ser mais fortes e confiantes, especialmente nesse início de carreira. Essas reuniões têm o objetivo de nos preparar para o futuro, é ali que assumimos a liderança, trabalhamos nossas principais competências e também enfrentamos nossas inseguranças. Esse é o momento em que podemos errar, aprender e evoluir. 

            </p>


            <p>
                Além disso, as sessões do Women in Action fortalecem o senso de união entre nós. Cada conversa, dinâmica e troca de experiência cria um ambiente seguro, onde todas podem se expressar, compartilhar dúvidas e celebrar conquistas. A cada reunião crescemos não apenas como profissionais, mas também como mulheres que se apoiam e constroem juntas um futuro mais confiante e inspirador.
            </p>


        </div>


        <img class="dta-img" src="../static/img_home/women.jpg" alt="Women in action"><!-- IMAGEM -->
    </div>






</body>
</html>
