<!DOCTYPE html>
<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_home.css">
    <title>HOME</title>



</head>


<body>

    <header class="header">
        <div class="header-top"></div>


        <div class="header-main">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo">


            <div class="user-icon">
                <img src="../static/img_home/icone.png" alt="User icon">
            </div>
        </div>
    </header>


    <h1 class="titulo-dta">Digital Talent Academy - Joinville 2025</h1>


    <div class="dta-container">
        <img class="dta-img" src="../static/img_home/dta.jpg" alt="DTA">


        <div class="texto-dta">
            <h2>Sobre o DTA</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima error soluta.
                Ratione aspernatur, nobis cupiditate eos odit tempore, assumenda repudiandae provident
                debitis accusantium optio velit delectus voluptatem quasi repellendus.
            </p>


            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugit ipsa expedita
                aperiam unde, dicta nisi quas autem deserunt ducimus delectus fuga voluptas incidunt.
            </p>
        </div>
    </div>



    <h2 class="categorias-titulo">Categorias</h2>


    <div class="grid-home">


        <div class="categoria-card">
            <div class="categoria-img"></div>
            <p class="nome">Conteúdos</p>
        </div>
        <div class="categoria-card">
            <div class="categoria-img"></div>
            <p class="nome">Jornal</p>
        </div>
        <div class="categoria-card">
            <div class="categoria-img"></div>
            <p class="nome">Perfis</p>
        </div>

    </div>


    <div class="dta-container">


        <div class="texto-dta">
            <h2>Women in action</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima error soluta.
                Ratione aspernatur, nobis cupiditate eos odit tempore, assumenda repudiandae provident
                debitis accusantium optio velit delectus voluptatem quasi repellendus.
            </p>


            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugit ipsa expedita
                aperiam unde, dicta nisi quas autem deserunt ducimus delectus fuga voluptas incidunt.
            </p>


        </div>


        <img class="dta-img" src="img_home/women.jpg" alt="DTA">
    </div>






</body>

</html>