<!DOCTYPE html>
<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_home.css">
    <title>DTA</title>


   
</head>


<body>

<header class="header">
    <div class="header-top"></div>
 
    <div class="header-main">   <!-- logo -->
        <div class="brand">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo"><!-- Imagem da logo -->
        </div>
    </div>
</header>

   
    <h1 class="titulo-dta">Digital Talent Academy - Joinville 2025</h1>


    <div class="dta-container">
        <img class="dta-img" src="../static/img_home/dta.jpg" alt="DTA"> <!-- Imagem -->


        <div class="texto-dta"> <!-- texto -->
            <h2>Sobre o DTA</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima error soluta.
                Ratione aspernatur, nobis cupiditate eos odit tempore, assumenda repudiandae provident
                debitis accusantium optio velit delectus voluptatem quasi repellendus.
            </p>


            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugit ipsa expedita
                aperiam unde, dicta nisi quas autem deserunt ducimus delectus fuga voluptas incidunt.
            </p>
        </div>
    </div>

    <div class="texto-dta2"> <!-- texto -->
    <h2 class="sobre-titulo">Sobre o site</h2> <!-- tutulo -->

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ea.
        Dolore perferendis tempore blanditiis. Debitis praesentium sit quibusdam 
        obcaecati saepe! Dolores eos placeat in magni iusto quis consequatur voluptate nulla?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores delectus laboriosam, 
        vel nemo iusto fuga fugit totam dolore ea cupiditate labore quae nam suscipit vitae. 
        Cum sapiente atque necessitatibus ad.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sint delectus numquam,
        vitae ad alias iste recusandae consectetur molestias soluta provident molestiae, nostrum
         et ipsam qui, in animi modi nisi!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odit sequi iure nulla neque 
        facere dolor eveniet facilis ullam obcaecati tempore, saepe officiis exercitationem debitis 
        autem? Fugit assumenda suscipit sapiente!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam porro sint, distinctio
        optio tempora iusto possimus officiis hic aperiam, est vero sequi incidunt, nam adipisci ratione 
        saepe minus architecto! Alias.
    </p>

    <h3>
        > Saiba mais sobre <!-- titulo -->
    </h3>

    </div>

   
    <h2 class="categorias-titulo">Categorias</h2> <!-- titulo -->


    <div class="grid-home">


    <div class="categoria-card">
        <div class="categoria-img"></div><!-- Imagem do card -->
        <p class="nome">Conteúdos</p> <!-- Nome da categoria -->
    </div>
     <div class="categoria-card">
        <div class="categoria-img"></div>
        <p class="nome">Jornal</p>
    </div>
      <div class="categoria-card">
        <div class="categoria-img"></div>
        <p class="nome">Perfis</p>
    </div>
     
    </div>


    <div class="dta-container"><!-- SEGUNDA SEÇÃO COM IMAGEM + TEXTO -->


        <div class="texto-dta"><!-- TEXTO -->
            <h2>Women in action</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima error soluta.
                Ratione aspernatur, nobis cupiditate eos odit tempore, assumenda repudiandae provident
                debitis accusantium optio velit delectus voluptatem quasi repellendus.
            </p>


            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugit ipsa expedita
                aperiam unde, dicta nisi quas autem deserunt ducimus delectus fuga voluptas incidunt.
            </p>


        </div>


        <img class="dta-img" src="../static/img_home/women.jpg" alt="Women in action"><!-- IMAGEM -->
    </div>






</body>
</html>
