<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_materiaG8.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Importação do Bootstrap -->

    <title>Visita G8</title>
</head>

<body>
    <main>
        <header class="header">
            <div class="header-top"></div>

            <div class="header-main">
                <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo"><!-- Logo da página -->
            </div>
        </header>


        <img src="../static/img_home/dta.jpg" class="img-fluid w-100" style="height: 400px; object-fit: cover;"
            alt="imagem DTA"> <!-- banner da página -->


        <div class="texto-dta2">

            <h2 class="sobre-titulo">Visita da G8 na planta de Joinville</h2> <!-- Título principal -->

            <p>

                16 de maio de 2025 <!-- Data da apresentação -->

            </p>

        </div>



        <div class="dta-container reverse"><!-- card invertido -->

            <div class="grid-card">
                <div class="categoria-card">
                    <div class="categoria-img">
                        <img src="../static/img_home/dta.jpg" alt="dta"> <!-- Imagem dentro do card -->
                    </div>
                    <p class="nome">Convidada:</p>
                    <p class="nome">Katja Von Raven</p> <!-- Nome de quem apresentou -->
                </div>
            </div>

            <div class="texto-dta"> <!-- Texto do conteúdo -->
                <p>
                    Um dos marcos na trajetória do DTA foi sem dúvidas a visita de Katja, uma grande inspiração para nós mulheres recém ingressadas no mercado de trabalho. 
                    Tivemos um curto encontro, com o intuito de apresentar nossa turma. Dando destaque para Julia Monteiro e Giovanna Garcia, que enfrentaram o desafio de fazer a apresentação em inglês. Ao final, von Raven menciona o quanto sente orgulho das meninas por estarem enfrentando esse desafio, destacando que já esteve em seus lugares, então entende como é o nervosismo pela responsabilidade de representar a turma diante de uma pessoa de cargo tão importante. 
                </p>
            </div>

        </div>

        <div class="comentarios-container">
            <h2>Comentários</h2>

            <div class="comentarios-grid">

                <div class="comentario-card">
                    <div class="comentario-header">
                        <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                            alt="user-female-circle" />
                        <span class="comentario-nome">Katja Von Raven</span>
                    </div>
                    <p class="comentario-texto">
                        "Ver vocês enche meu coração de alegria e me traz a certeza que o futuro da nossa 
                        empresa é brilhante. Como conversamos, é preciso coragem, vontade de aprender e sair da sua zona de conforto para prosperar e alcançar o sucesso. Na turma de vocês, vejo esses elementos e quero encorajá-las a continuar indo atrás disso"
                    </p>
                </div>


                <div class="comentario-card">
                    <div class="comentario-header">
                        <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                            alt="user-female-circle" />
                        <span class="comentario-nome">Giovanna Garcia</span>
                    </div>
                    <p class="comentario-texto">
                        “Falar com a Katja, uma mulher inspiradora e de um cargo tão grande dentro da empresa, sendo apenas uma aprendiz, foi uma oportunidade incrível e positiva para nosso futuro aqui!”
                    </p>
                </div>

                <div class="comentario-card">
                    <div class="comentario-header">
                        <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                            alt="user-female-circle" />
                        <span class="comentario-nome">Julia Monteiro</span>
                    </div>
                    <p class="comentario-texto">
                       “Foi uma visita muito inspiradora e divertida. Sua personalidade carinhosa e seus conselhos me ajudaram a ter em mente que tenho um grande futuro pela frente. Encontros assim ajudam a todos a não se deixar vencer pelo medo!”
                    </p>
                </div>

            </div>
            <br>
            <br><br>
        </div>
</body>

</html>


</main>
</body>

</html>