<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Timeline</title>

    <!-- Link para o CSS convertido -->
    <link rel="stylesheet" href="../static/style_sobre.css">
</head>

<body>

    <header class="header">
        <div class="header-top"></div><!-- Faixa superior  -->

        <div class="header-main">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo"><!-- Imagem da logo -->

        </div>
    </header>


    <div class="titulo">
        <h1>Sobre o site</h1>
    </div>
    <div class="texto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Numquam officiis quam, sed rem quaerat accusamus. Non explicabo hic,
            velit iste nobis aliquid. Enim ea magnam quod maxime ipsum mollitia odit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, deleniti perspiciatis
            quae modi, perferendis officiis Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Quibusdam cum ipsa, dicta corporis,
            ex rem sint unde dolores alias nam mollitia itaque perferendis at deleniti minima provident
            non consectetur aspernatur?
            fuga quam eum sapiente architecto veniam quibusdam ad excepturi nam ratione,
            deserunt voluptatibus dolore harum.</p>
    </div>

    <div class="container">

        <div class="timeline-item">
            <h1>Organização</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's
                mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem
                card.
            </p>
        </div>

        <div class="timeline-item">
            <h1>Ferramentas utilizadas</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's
                mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem
                card.
            </p>
        </div>

        <div class="timeline-item">
            <h1>Desenvolvimento</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's
                mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem
                card.
            </p>
        </div>

        <div class="timeline-item">
            <h1>Por que deste site?</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's
                mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem
                card.
            </p>
        </div>

    </div>

    <div class="comentarios-container">
        <h2>Comentários</h2>

        <div class="comentarios-grid">

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Katja Von Raven</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>


            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Giovanna Garcia</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Julia Monteiro</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>

        </div>
        <br>
        <br><br>
        <div class="comentarios-grid">

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Katja Von Raven</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>


            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Giovanna Garcia</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Julia Monteiro</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>

        </div>
        <br><br>
    </div>


</body>

</html>