<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Timeline</title>

    <!-- Link para o CSS convertido -->
    <link rel="stylesheet" href="../static/style_sobre.css">
</head>

<body>

    <header class="header">
        <div class="header-top"></div><!-- Faixa superior  -->

        <div class="header-main">
            <img class="logo" src="../static/img_home/logo.png" alt="Bosch logo"><!-- Imagem da logo -->

        </div>
    </header>


    <div class="titulo">
        <h1>Sobre o site</h1>
    </div>
    <div class="texto">
        <p>A nossa equipe DTA está realizando o primeiro grande projeto integrador, reunindo tudo o que aprendemos até agora em nossa formação na Bosch em conjunto com o SENAI. Este trabalho marca não apenas o desenvolvimento de nossas competências técnicas, mas também a prática de colaboração, comunicação e organização em equipe. Desde o início, decidimos construir um site que demonstrasse nossas habilidades, nosso aprendizado e nossa evolução durante o programa. 
Para iniciar o processo, estruturamos as etapas no Miro, definindo as áreas de atuação necessárias para o desenvolvimento do projeto: organização, redação, prototipação, back-end e front-end. Cada integrante da turma pôde escolher livremente a área com a qual mais se identificava, permitindo que todas contribuíssem da forma mais eficiente possível. Após essa definição, selecionamos as líderes de cada equipe, responsáveis por acompanhar o andamento das tarefas e garantir a organização geral.  
As líderes realizam reuniões diárias para alinhar decisões, distribuir responsabilidades e acompanhar o progresso das equipes. Depois desses alinhamentos, cada líder repassa as informações ao seu grupo, garantindo que todas estejam cientes de suas funções e dos próximos passos. Além disso, cada equipe escolheu a melhor forma de se organizar internamente, utilizando ferramentas como Miro, Canva, Figma, ou até mesmo registros manuais, de acordo com sua preferência e necessidade.  
Durante o desenvolvimento, tivemos também um momento importante com nossos instrutores, Andreisse e Marcelo. Apresentamos um pitch do projeto, explicando nosso objetivo e nossa estrutura, e recebemos um feedback detalhado. A partir dessas orientações, fizemos ajustes e melhorias que contribuíram para a versão final do trabalho.  
Este projeto tem como propósito não apenas apresentar o DTA, mas também mostrar quem somos, como trabalhamos e qual é o impacto do nosso papel dentro do programa. Embora muitas pessoas conheçam a existência do DTA, nem todas entendem quem compõe a equipe, quais projetos realizamos ou de que forma contribuímos para a Bosch. Por isso, este site foi pensado como uma vitrine clara, organizada e representativa do nosso trabalho, mostrando nossas conquistas, nossa dedicação e nossos sonhos. 
Mais do que um portfólio, este site funciona como um registro da nossa trajetória e como uma “máquina do tempo”, reunindo tudo o que aprendemos ao longo do ano. Ele demonstra nossas habilidades técnicas, nosso comprometimento individual e coletivo, e reforça o protagonismo feminino dentro da tecnologia. A construção desta plataforma reflete nosso esforço contínuo por excelência e nossa vontade de deixar um legado para as futuras turmas do programa.  
Em conjunto, criamos não apenas um site, mas um marco do nosso crescimento, da nossa união e do orgulho que temos em fazer parte da Bosch e do DTA. .</p>
    </div>

    <div class="container">

        <div class="timeline-item">
            <h1>Organização</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's
                mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem
                card.
            </p>
        </div>

        <div class="timeline-item">
            <h1>Ferramentas utilizadas</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's
                mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem
                card.
            </p>
        </div>

        <div class="timeline-item">
            <h1>Desenvolvimento</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's
                mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem
                card.
            </p>
        </div>

        <div class="timeline-item">
            <h1>Por que deste site?</h1>
            <p>
                I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I
                write the best placeholder text, and I'm the biggest developer on the web by far... While that's
                mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem
                card.
            </p>
        </div>

    </div>

    <div class="comentarios-container">
        <h2>Comentários</h2>

        <div class="comentarios-grid">

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Alana</span>
                </div>
                <p class="comentario-texto">
                    “Sobre essa trajetória na BOSCH, vejo o nosso site como um dos grandes projetos de muitos outros que iremos realizar. Uma oportunidade de demonstrar nosso aprendizado e compromisso com o programa, e uma mistura de sentimentos... não é fácil, mas é possível. Eu sei que valeu a pena! ”
                </p>
            </div>


            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Amábile</span>
                </div>
                <p class="comentario-texto">
                    “Foi um projeto bem interessante, me aventurei por uma área que não tenho tanto conhecimento e mesmo sem ter muito domínio, estou pegando o jeito rápido. Cada parte do projeto me ajudou a entender melhor como tudo funciona, a perceber os detalhes e a desenvolver novas habilidades. Foi desafiador, claro, mas já sinto que ampliou bastante meu conhecimento e minha capacidade de adaptação. ”
                </p>
            </div>

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Ana Julya</span>
                </div>
                <p class="comentario-texto">
                    “Participar desse projeto foi desafiador, mas também uma experiência cheia de aprendizados, poder liderar pela primeira vez foi uma oportunidade que me trouxe muito crescimento, novas experiências, onde saí da zona de conforto, mas foi recompensador. ”
                </p>
            </div>

        </div>
        <br><br>

        <div class="comentarios-grid">

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Katja Von Raven</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>


            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Giovanna Garcia</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Julia Monteiro</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>

        </div>
        <br><br>

        <div class="comentarios-grid">

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Katja Von Raven</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>


            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Giovanna Garcia</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>

            <div class="comentario-card">
                <div class="comentario-header">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-female-circle.png"
                        alt="user-female-circle" />
                    <span class="comentario-nome">Julia Monteiro</span>
                </div>
                <p class="comentario-texto">
                    “Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Quisque faucibus ex sapien vitae pellentesque sem nostra inceptos himenaeos.”
                </p>
            </div>

        </div>
        <br><br>
    </div>


</body>

</html>